{%extends "molbank/base.html"%}
{% block script %}
<script type="text/javascript">
  function lol(){
  alert('hello');
}
</script>
{% endblock %}
{%block title%}
ADD MOLECULES
{%endblock%}
{% block heading%}
<p> ADD MOLECULES </p>
{% endblock %}
{% block search_snippet%}
{% if messages %}
  <ul class="messages">
   {% for message in messages %}
   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
   {% endfor %}
  </ul>
  {% endif %}
  <center>
<form name="myform" method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}	
	{{form.as_p}}
 <input type="submit" name="submit" value="insert">
<!-- 	<input type="text" name="text_id" style="color: #000000;" placeholder="ID" >
	<input type="text" name="text_smiles" onclick="verifyID();" style="color: #000000;" placeholder="SMILES" />
	<input type="text" name="text_sample_code" style="color: #000000;" placeholder="SAMPLE_CODE" />
	<input type="submit" value="ADD" />  -->
</form>
<br><hr  width="70%" noshade="noshade"> <br>
<h1>Insert from CSV</h1>
<input type="file" ID="fileSelect" accept=".csv" />
<button name="submit_button" value="submit" onclick="lol();">submit</button>
</center>
{% endblock %}


